<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Plaque:(pause)</string>
	<string>Video:(rotary_mfzs)</string>
	<string>Event</string>
	<string>Msg:(yuans)</string>
	<string>Close Banner</string>
	<string>Close Msg</string>
	<string>Pay</string>
	<string>补发道具</string>
</array>
</plist>
