<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple_appid</key>
	<string>1450711354</string>
	<key>company_appid</key>
	<string>17265</string>
	<key>company_prjid</key>
	<string>333359</string>
	<key>statistical parameters</key>
	<dict>
		<key>umeng_appkey</key>
		<string>5909889f9f06fd46640011b6</string>
		<key>headline_appkey</key>
		<string>test123</string>
		<key>dataeye_trackingid</key>
		<string>CDF83716136A3E608D69D6730D2A2C32C</string>
		<key>appsflyer_devkey</key>
		<string>X9NxxaMp4neHCFYreDxtd5</string>
		<key>adjust_appToken</key>
		<string>2r2nsy1b4gw0</string>
		<key>facebook_appkey</key>
		<string>(不要修改这一项内容)</string>
		<key>google_appkey</key>
		<string>null</string>
	</dict>
	<key>SharePlatform</key>
	<array>
		<dict>
			<key>platform</key>
			<string>wx_friends</string>
			<key>is_Used</key>
			<true/>
		</dict>
		<dict>
			<key>platform</key>
			<string>wx_pengyouquan</string>
			<key>is_Used</key>
			<true/>
		</dict>
		<dict>
			<key>platform</key>
			<string>facebook</string>
			<key>is_Used</key>
			<true/>
		</dict>
		<dict>
			<key>platform</key>
			<string>qq_zone</string>
			<key>is_Used</key>
			<false/>
		</dict>
		<dict>
			<key>platform</key>
			<string>qq_friends</string>
			<key>is_Used</key>
			<false/>
		</dict>
	</array>
	<key>Used Social Agent</key>
	<dict>
		<key>wx-Social</key>
		<dict>
			<key>IS_USED</key>
			<true/>
			<key>AppID</key>
			<string>wx19e9e5878d123f36</string>
			<key>AppSecret</key>
			<string>30e06e5af3f518894c7087a3baa15ec1</string>
		</dict>
		<key>fb-Social</key>
		<dict>
			<key>IS_USED</key>
			<true/>
		</dict>
	</dict>
	<key>Used BUG Agent</key>
	<dict>
		<key>BUG-Bugly</key>
		<dict>
			<key>IS_USED</key>
			<false/>
			<key>APP_ID</key>
			<string>10babab6f5</string>
		</dict>
	</dict>
	<key>Used Push Agent</key>
	<dict>
		<key>UM-Push</key>
		<dict>
			<key>IS_USED</key>
			<false/>
			<key>PUSH_APPKEY</key>
			<string>58d8aedb677baa6c50000c5c</string>
		</dict>
	</dict>
	<key>Used Pay Agent</key>
	<dict>
		<key>Pay-apple</key>
		<dict>
			<key>IS_USED</key>
			<false/>
		</dict>
		<key>Pay-wx</key>
		<dict>
			<key>IS_USED</key>
			<false/>
			<key>Appid</key>
			<string>wx19e9e5878d123f36</string>
			<key>shanghuNum</key>
			<string>1393643602</string>
			<key>API_KEY</key>
			<string>wbkj2002wbkj2002wbkj2002wbkj2002</string>
			<key>callbackURL</key>
			<string>http://wx.vigame.cn:8998/wxPay</string>
		</dict>
		<key>Pay-zfb</key>
		<dict>
			<key>IS_USED</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
