<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plaque</key>
	<dict>
		<key>irons</key>
		<string>IsPlaque</string>
	</dict>
	<key>video</key>
	<dict>
		<key>irons</key>
		<string>IsVideo</string>
	</dict>
</dict>
</plist>
